.search-bar {
	grid-column: 2/3;
	margin-top: 30px;
	margin-right: 130px;
	height: 7vh;
	min-height: 60px;
	display: grid;
	grid-template-columns: 1fr auto auto;
	align-items: center;
	gap: 30px;
	padding-inline: 30px;
	width: 95%;
	position: relative;
}

.sort-menu {
	position: absolute;
	top: 80px;
	right: 0;
	padding: 10px;
}

.sort-menu > button {
	height: 40px;
	width: 100%;
	color: white;
	font-weight: bold;
	/* text-align: start; */
}
